@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akebono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');

.home {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  overflow: hidden;
  background-size: cover;
  /* background-repeat: repeat; */
  background-image: url('./img3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Anonymous Pro','Tiro Devanagari Hindi','Yuji Hentaigana Akebono',sans-serif;
}

.chat-app {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #3b5998; */
  border: 1px solid rgb(11, 10, 10);
  border-radius: 10px;
  width: 65%;
  height: 80%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: rgba(0,0,0,.7);
}
.header {
  background-color: rgb(0, 0, 0, .4);
  color:#0f0;
  font-family: 'Orbitron', sans-serif;
  letter-spacing:3px;
  text-transform:uppercase;
  font-size:10px;
  word-spacing:10px;
  cursor:pointer;
  position:relative;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}
.title{
  padding: 0px 0px 0px 10px;
}
.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 80%;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  display: block;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 3px;
}

.user {
  font-weight: bold;
  margin-right: 10px;
  color: #0f0;
  display: inline;
}
.msg {
  margin-right: 10px;
  color: #0f0;
  display: block;
}
.time{
  color:#0f0;
  display: inline-block;
  padding: 0px 5px 0px 0px;
}
.new-message-form {
  display: flex;
  width: 100%;
  padding: 0px;
}
.send-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 99%;
  gap: 10px;
}
.new-message-input {
  /* flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #333;
  padding: 10px;
  border-radius: 5px 0 0 5px; */
  height: 30px;
  background-color: rgba(0,0,0,.3);
  padding:  5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
  outline: none;
  color:#0f0;
  font-size: 18px;
  bottom: 0;
}
::placeholder{
  color:#0f0;
}
.lng-slt{
  align-items:center;
  display: inline-flex;
  width:100px;
  height: 20px;
  color: #0f0;
  background-color: rgba(0,0,0,.3);
  border: #0f0;
}
.optns{
  display: inline-flex;
  justify-content: space-around;
  padding: 1px;
}
.opt2{
  display: inline-flex;
  justify-content: space-around;
  padding: 1px;
}
.snd-btn{
  border: none;
  padding: 8px 20px 8px 20px;
  color: #0f0;
  background-color: rgba(0,0,0,.3);
  align-items: center;
  display: flex;
  cursor: pointer;
  text-transform:uppercase;
}
a{
  color: #0f0;
  padding: 0px;
  justify-content: space-around;
  display: inline;
}
